body.rtl {
    direction: rtl;
}

.rtl .control-label {
    text-align: left;
}
.rtl dd {
    margin-right: 0;
}
.rtl thead th {
    text-align: right;
}
ul.layout{
    list-style-type:none;
    margin:0;
    padding:0;
}

.buttons-menu li{
    margin:0;
    padding:0;
    margin-bottom: .7em;
}

.navbar-inverse .navbar-text {
    color: #FEFEFE;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.8em;
}

.back-button {
    margin-left: .5em;
    margin-right: .5em;
}