<table class="table table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שעה</th>
            <th>אתר</th>
            <th>סוג</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="report in reports|orderBy:Date:true">
            <td>{{ report.Date | date:"dd/MM/yyyy"}}</td>
            <td>{{ report.Date | date:"HH:mm"}}</td>
            <td>{{ report.Site | siteDescription }}</td>
            <td>{{ (report.IsEnter ? "כניסה":"יציאה") }}</td>
        </tr>
    </tbody>
</table>