<form novalidate name="scanForm" class="form-horizontal" role="form" ng-submit="simulateScan()" >
  <div class="form-group">
    <label for="Barcode" class="control-label">ברקוד</label>
    <div class="col-lg-10">
       <input name="Barcode" type="text" ng-model="barCode" class="form-control" placeholder="ברקוד" required/>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-xs-6">
      <button type="button" class="btn btn-success btn-block" ng-disabled="!scanSupported">סריקה</button>
    </div>
    <div class="col-xs-6 col-lg-4">
      <button type="submit" class="btn btn-default btn-block" ng-disabled="scanForm.$invalid">אישור בר-קוד</button>
    </div>
  </div>
</form>