<form class="form-horizontal" role="form" sf-command="ScanBarcode">
  <div class="form-group">
    <label for="Barcode" class="col-lg-2 control-label">ברקוד</label>
    <div class="col-lg-10">
       <input name="Barcode" type="text" ng-model="barCode" class="form-control" placeholder="ברקוד"/>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="button" ng-click="simulateScan()" class="btn btn-default">סריקה</button>
    </div>
  </div>
</form>