<h4 class="event-date">{{event.Date}}</h4>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>{{"Employee"|l10n}}</th>
            <th>{{"Enter"|l10n}}</th>
            <th>{{"Exit"|l10n}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="report in timeReports|orderBy:Date:true track by $index">
            <td>{{report.employeeName}}</td>
            <td>{{report.enterTime}}</td>
            <td>{{report.exitTime}}</td>
        </tr>
    </tbody>
</table>